**Importing Libraries**

In [97]:
import pandas as pd
import numpy as np
import chainladder as cl
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.0f}'.format
import calendar
#pd.options.display.max_rows = 999

**Loading and Exploring data**

In [98]:
#premiums_df = pd.read_excel(r'C:\Users\Muhammad.Ismail\Downloads\UPR Motor Q2 2024.xlsm', sheet_name = 'Data')

In [99]:
premiums_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680563 entries, 0 to 680562
Data columns (total 66 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Serial No.            680539 non-null  float64
 1   Prd_Period            680538 non-null  object
 2   Issue Date            460364 non-null  datetime64[ns]
 3   Risk Location         219697 non-null  object
 4   Location Street       41383 non-null   object
 5   Location City         41383 non-null   object
 6   Location Building     40870 non-null   object
 7   Line Of Business      680538 non-null  object
 8   Division              680538 non-null  object
 9   Department            412288 non-null  object
 10  Business Type         680538 non-null  object
 11  Sales Channel         680538 non-null  object
 12  UW Year               680538 non-null  float64
 13  Product               680538 non-null  object
 14  Policy No.            680538 non-null  object
 15  Endorsement No.       453969 non-null  object
 16  Customer Type         658948 non-null  object
 17  Insured Name          641073 non-null  object
 18  Sum Insured           680538 non-null  float64
 19  Inception date        680538 non-null  datetime64[ns]
 20  Expiry Date           680538 non-null  datetime64[ns]
 21  Gross Prem            680538 non-null  float64
 22  Commission            680538 non-null  float64
 23  Charge                680538 non-null  float64
 24  Net Premium           680538 non-null  float64
 25  RI Premium            412280 non-null  float64
 26  QS Amount             680522 non-null  float64
 27  Retention             680522 non-null  float64
 28  SurPlus Amount        680525 non-null  float64
 29  FAC Amount            680525 non-null  float64
 30  WAR FAC Amount        236678 non-null  float64
 31  WAR Treaty            236678 non-null  float64
 32  WAR Spcl Retn         242850 non-null  float64
 33  FAC Comm              664342 non-null  object
 34  QS SI                 664342 non-null  object
 35  RETN SI               664342 non-null  object
 36  SUR SI                664342 non-null  object
 37  FAC SI                655236 non-null  object
 38  Spcl Retn             412280 non-null  float64
 39  Diff                  185582 non-null  float64
 40  Transc Dt             468150 non-null  datetime64[ns]
 41  Unnamed: 41           0 non-null       float64
 42  Inception<Expiry      680538 non-null  float64
 43  Unnamed: 43           0 non-null       float64
 44  Expiry +1             680538 non-null  datetime64[ns]
 45  TPL/Comprehensive     680538 non-null  object
 46  Premium - Net of CHG  680538 non-null  float64
 47  Premium - Net of RI   680538 non-null  float64
 48  Unnamed: 48           0 non-null       float64
 49  EF Classification     680538 non-null  object
 50  Direct/Assumed        680538 non-null  object
 51  Eforms Region         680538 non-null  object
 52  Unnamed: 52           0 non-null       float64
 53  Duration              680540 non-null  float64
 54  Unearned portion      680540 non-null  float64
 55  Gross UPR             680540 non-null  float64
 56  Net UPR               680540 non-null  float64
 57  RI UPR                680540 non-null  float64
 58  DAC                   680540 non-null  float64
 59  Earned Proportion     680540 non-null  float64
 60  GEP                   680540 non-null  float64
 61  NEP                   680540 non-null  float64
 62  Code                  340787 non-null  object
 63  Unnamed: 63           2 non-null       datetime64[ns]
 64  RI Prem               680549 non-null  float64
 65  IFFCO                 680549 non-null  float64
dtypes: datetime64[ns](6), float64(35), object(25)
memory usage: 342.7+ MB

In [100]:
premiums_raw_df = premiums_df.iloc[:, 0:48]

In [101]:
premiums_raw_df

,Serial No.,Prd_Period,Issue Date,Risk Location,Location Street,Location City,Location Building,Line Of Business,Division,Department,Business Type,Sales Channel,UW Year,Product,Policy No.,Endorsement No.,Customer Type,Insured Name,Sum Insured,Inception date,Expiry Date,Gross Prem,Commission,Charge,Net Premium,RI Premium,QS Amount,Retention,SurPlus Amount,FAC Amount,WAR FAC Amount,WAR Treaty,WAR Spcl Retn,FAC Comm,QS SI,RETN SI,SUR SI,FAC SI,Spcl Retn,Diff,Transc Dt,Unnamed: 41,Inception<Expiry,Unnamed: 43,Expiry +1,TPL/Comprehensive,Premium - Net of CHG,Premium - Net of RI
0,1,2013,NaT,DUBAI,,,,M,Shk. Zayed Branch,NaN,Direct Business,Broker,"2,013",IMC,14,126696,Individual,SHARIF SAFY ELDIN HAMOUDAH,"1,536,000",2013-03-17,2014-04-17,"1,175",176,0,"1,175",NaN,0,"1,175",0,0,NaN,NaN,NaN,0,0,1536000,0,0,NaN,NaN,NaT,NaN,1,NaN,2014-04-18,Comprehensive,"1,175","1,175"
1,2,2013,NaT,DUBAI,,,,M,Shk. Zayed Branch,NaN,Direct Business,Broker,"2,013",IMC,28,125921,Individual,AZNITA BINT AZIZ,"1,535,000",2013-03-05,2014-04-05,"1,475",221,0,"1,475",NaN,0,"1,475",0,0,NaN,NaN,NaN,0,0,1535000,0,0,NaN,NaN,NaT,NaN,1,NaN,2014-04-06,Comprehensive,"1,475","1,475"
2,3,2013,NaT,,NaN,NaN,NaN,M,Shk. Zayed Branch,NaN,Direct Business,Broker,"2,013",IMC,53,123346,Corporate,Timna Electronics & Telecommunication (FZE),"1,260,000",2013-01-23,2014-02-23,"1,040",156,0,"1,040",NaN,0,"1,040",0,0,NaN,NaN,NaN,0,0,1260000,0,0,NaN,NaN,NaT,NaN,1,NaN,2014-02-24,Comprehensive,"1,040","1,040"
3,4,2013,NaT,,NaN,NaN,NaN,M,Shk. Zayed Branch,NaN,Direct Business,Broker,"2,013",IMC,56,126390,Corporate,JUMAIRA LIGHT INDUSTRIES,"1,944,000",2013-03-12,2014-04-12,"1,535",230,0,"1,535",NaN,0,"1,535",0,0,NaN,NaN,NaN,0,0,1944000,0,0,NaN,NaN,NaT,NaN,1,NaN,2014-04-13,Comprehensive,"1,535","1,535"
4,5,2013,NaT,,NaN,NaN,NaN,M,Shk. Zayed Branch,NaN,Direct Business,Broker,"2,013",IMC,107,122346,Individual,RAJESH BHANDARI,"1,575,000",2013-01-09,2014-02-09,"1,535",230,0,"1,535",NaN,0,"1,535",0,0,NaN,NaN,NaN,0,0,1575000,0,0,NaN,NaN,NaT,NaN,1,NaN,2014-02-10,Comprehensive,"1,535","1,535"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680558,"674,306",2024 Q2,2024-06-29,NaN,NaN,NaN,NaN,MOTOR,HEAD-OFFICE,MOTOR,DIRECT BUSUINESS,AGENT,"2,024",MOTOR COMPREHENSIVE-ETRADE,P/01/IMC/2024/00505,NaN,INDIVIDUAL,DANA BASSAM TOUMA,"103,277,000",2024-06-29,2025-07-28,"4,350",326,0,"4,350","4,350",0,"4,350",0,0,0,0,0,0,0,103277000,0,0,0,NaN,2024-06-29,NaN,1,NaN,2025-07-29,Comprehensive,"4,350","4,350"
680559,"674,307",2024 Q2,2024-06-28,NaN,NaN,NaN,NaN,MOTOR,ABU DHABI BRANCH,MOTOR,DIRECT BUSUINESS,AGENT,"2,024",MOTOR THIRD-PARTY LIABILITY-ETRADE,P/04/IMT/2024/00102,NaN,INDIVIDUAL,KHOURSHID ALI GUL,0,2024-06-29,2025-07-28,750,56,0,750,750,0,750,0,0,0,0,0,0,0,0,0,0,0,NaN,2024-06-29,NaN,1,NaN,2025-07-29,TPL,750,750
680560,"674,308",2024 Q2,2024-06-30,NaN,NaN,NaN,NaN,MOTOR,ABU DHABI BRANCH,MOTOR,DIRECT BUSUINESS,AGENT,"2,024",MOTOR COMPREHENSIVE-ETRADE,P/04/IMC/2024/00323,NaN,INDIVIDUAL,MOHD ESSA M AL ABBADI,"101,102,200",2024-06-30,2025-07-31,"1,800",72,0,"1,800","1,800",0,"1,800",0,0,0,0,0,0,0,101102200,0,0,0,NaN,2024-06-30,NaN,1,NaN,2025-08-01,Comprehensive,"1,800","1,800"
680561,"674,309",2024 Q2,2024-06-30,NaN,NaN,NaN,NaN,MOTOR,AJMAN,MOTOR,DIRECT BUSUINESS,Call Centre,"2,024",MOTOR COMP SCHEME,P/11/MCS/2024/00527,NaN,INDIVIDUAL,AHMED SALEH H. S. ALMUKHATTAN,"103,517,000",2024-06-30,2025-07-31,"1,170",29,0,"1,170","1,170",0,"1,170",0,0,0,0,0,0,0,103517000,0,0,0,NaN,2024-06-30,NaN,1,NaN,2025-08-01,Comprehensive,"1,170","1,170"
680562,"674,310",2024 Q2,2024-06-30,NaN,NaN,NaN,NaN,MOTOR,HEAD-OFFICE,MOTOR,DIRECT BUSUINESS,Call Centre,"2,024",MOTOR COMP SCHEME,P/01/MCS/2024/00649,NaN,INDIVIDUAL,KHALID MAHMOOD MUHAMMAD SHAFI,"104,211,000",2024-06-30,2025-07-31,"1,170",29,0,"1,170","1,170",0,"1,170",0,0,0,0,0,0,0,104211000,0,0,0,NaN,2024-06-30,NaN,1,NaN,2025-08-01,Comprehensive,"1,170","1,170"

In [102]:
def calculate_proportion(start_date_series, end_date_series, current_date):
    start_date_series = pd.to_datetime(start_date_series)
    end_date_series = pd.to_datetime(end_date_series)
    current_date = pd.to_datetime(current_date)

    proportion = 1.0
    total_duration = (end_date_series - start_date_series).dt.days
    time_elapsed = (end_date_series - current_date).dt.days
    proportion = time_elapsed / total_duration
    proportion = 1 - proportion
    proportion = proportion.clip(lower=0, upper=1)
    
    return proportion

def apply_proportion_to_premiums(df, start_col, end_col, current_date, premium_col):
    df['Proportion'] = calculate_proportion(df[start_col], df[end_col], current_date)
    
    df['Adjusted Premiums'] = df['Proportion'] * df[premium_col]
    
    return df

current_date = '2024-06-30'
premiums_raw_df = apply_proportion_to_premiums(premiums_raw_df, 'Inception date', 'Expiry Date', current_date, 'Premium - Net of CHG')

In [103]:
(premiums_raw_df['Adjusted Premiums'] == premiums_df['GEP']).value_counts()

True     680538
False        25
Name: count, dtype: int64

In [104]:
(premiums_raw_df['Adjusted Premiums'] == premiums_df['GEP'])

0         True
1         True
2         True
3         True
4         True
          ...
680558    True
680559    True
680560    True
680561    True
680562    True
Length: 680563, dtype: bool

In [105]:
difference = (premiums_raw_df['Adjusted Premiums'] - premiums_df['GEP']).abs()

max_difference_index = difference.idxmax()

row_with_max_difference = premiums_raw_df.loc[max_difference_index]

print(f"Row index with greatest difference: {max_difference_index}")
print(f"Row with greatest difference:\n{row_with_max_difference}")

Row index with greatest difference: 0
Row with greatest difference:
Serial No.                                       1
Prd_Period                                    2013
Issue Date                                     NaT
Risk Location                                DUBAI
Location Street
Location City
Location Building
Line Of Business                                 M
Division                         Shk. Zayed Branch
Department                                     NaN
Business Type                      Direct Business
Sales Channel                               Broker
UW Year                                      2,013
Product                                        IMC
Policy No.                                      14
Endorsement No.                             126696
Customer Type                           Individual
Insured Name            SHARIF SAFY ELDIN HAMOUDAH
Sum Insured                              1,536,000
Inception date                 2013-03-17 00:00:00
Expiry Date                    2014-04-17 00:00:00
Gross Prem                                   1,175
Commission                                     176
Charge                                           0
Net Premium                                  1,175
RI Premium                                     NaN
QS Amount                                        0
Retention                                    1,175
SurPlus Amount                                   0
FAC Amount                                       0
WAR FAC Amount                                 NaN
WAR Treaty                                     NaN
WAR Spcl Retn                                  NaN
FAC Comm                                         0
QS SI                                            0
RETN SI                                    1536000
SUR SI                                           0
FAC SI                                           0
Spcl Retn                                      NaN
Diff                                           NaN
Transc Dt                                      NaT
Unnamed: 41                                    NaN
Inception<Expiry                                 1
Unnamed: 43                                    NaN
Expiry +1                      2014-04-18 00:00:00
TPL/Comprehensive                    Comprehensive
Premium - Net of CHG                         1,175
Premium - Net of RI                          1,175
Proportion                                       1
Adjusted Premiums                            1,175
Name: 0, dtype: object

In [106]:
false_rows = premiums_raw_df[~(premiums_raw_df['Adjusted Premiums'] == premiums_df['GEP'])]
false_rows

,Serial No.,Prd_Period,Issue Date,Risk Location,Location Street,Location City,Location Building,Line Of Business,Division,Department,Business Type,Sales Channel,UW Year,Product,Policy No.,Endorsement No.,Customer Type,Insured Name,Sum Insured,Inception date,Expiry Date,Gross Prem,Commission,Charge,Net Premium,RI Premium,QS Amount,Retention,SurPlus Amount,FAC Amount,WAR FAC Amount,WAR Treaty,WAR Spcl Retn,FAC Comm,QS SI,RETN SI,SUR SI,FAC SI,Spcl Retn,Diff,Transc Dt,Unnamed: 41,Inception<Expiry,Unnamed: 43,Expiry +1,TPL/Comprehensive,Premium - Net of CHG,Premium - Net of RI,Proportion,Adjusted Premiums
251727,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
258668,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
278041,"278,040",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
290012,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
303345,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
315618,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
328057,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
339758,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
352875,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
361975,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
370920,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
380027,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
390988,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
403452,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
413716,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
422996,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
432107,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
440845,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
447836,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
453851,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
505847,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
537620,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
569804,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
602130,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
641594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [107]:
premiums_raw_df['Adjusted Premiums'].sum()

769403941.6807321

**Filtering for TPL**

In [108]:
premiums_raw_df['TPL EP'] = 0
premiums_raw_df['TPL EP'] = premiums_raw_df.apply(
    lambda x: x['Adjusted Premiums'] if x['TPL/Comprehensive'] == 'TPL' else 0, axis=1)

In [109]:
premiums_raw_df['TPL GP'] = 0
premiums_raw_df['TPL GP'] = premiums_raw_df.apply(
    lambda x: x['Premium - Net of CHG'] if x['TPL/Comprehensive'] == 'TPL' else 0, axis=1)

In [110]:
premiums_raw_df['TPL EP'].sum()

115517962.84249538

**Dataframe Creation**

In [119]:
start_date = datetime(2017, 7, 1)
end_date = datetime(2027, 6, 1)

date = []
current_date = start_date

while current_date <= end_date:
    last_day = calendar.monthrange(current_date.year, current_date.month)[1]
    date_string = "{}-{}-{}".format(last_day, current_date.strftime('%b'), current_date.strftime('%y'))
    date.append([current_date.strftime('1-%b-%y'), date_string])

    current_date += relativedelta(months=1)


temp_df = pd.DataFrame(date, columns=['From', 'To'])

temp_df['From'] = pd.to_datetime(temp_df['From'], format='%d-%b-%y')
temp_df['To'] = pd.to_datetime(temp_df['To'], format='%d-%b-%y')

**Gross Premiums (GP)**

In [112]:
temp_df['GP'] = 0
for temp_index, temp_row in temp_df.iterrows():
    from_date = temp_row['From']
    to_date = temp_row['To']
    matching_premiums = premiums_raw_df[
        (premiums_raw_df['Inception date']  <= to_date)& ( premiums_raw_df['Inception date']  >= from_date)]
    premium_sum = matching_premiums['TPL GP'].sum()
    temp_df.at[temp_index, 'GP'] = premium_sum

C:\Users\Muhammad.Ismail\AppData\Local\Temp\ipykernel_14860\355145241.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '991487.02' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  temp_df.at[temp_index, 'GP'] = premium_sum

In [113]:
temp_df

          From         To        GP
0   2017-07-01 2017-07-31   991,487
1   2017-08-01 2017-08-31   945,268
2   2017-09-01 2017-09-30   738,114
3   2017-10-01 2017-10-31 1,110,282
4   2017-11-01 2017-11-30 1,054,467
5   2017-12-01 2017-12-31 1,316,802
6   2018-01-01 2018-01-31   928,302
7   2018-02-01 2018-02-28   782,414
8   2018-03-01 2018-03-31   993,394
9   2018-04-01 2018-04-30 1,533,689
10  2018-05-01 2018-05-31 1,388,740
11  2018-06-01 2018-06-30 1,264,750
12  2018-07-01 2018-07-31 2,048,026
13  2018-08-01 2018-08-31 1,359,024
14  2018-09-01 2018-09-30 1,309,536
15  2018-10-01 2018-10-31 1,874,086
16  2018-11-01 2018-11-30 1,885,429
17  2018-12-01 2018-12-31 2,461,124
18  2019-01-01 2019-01-31 4,941,308
19  2019-02-01 2019-02-28 2,170,381
20  2019-03-01 2019-03-31 1,675,841
21  2019-04-01 2019-04-30 2,001,217
22  2019-05-01 2019-05-31 2,603,026
23  2019-06-01 2019-06-30 1,893,646
24  2019-07-01 2019-07-31 2,720,193
25  2019-08-01 2019-08-31 1,801,740
26  2019-09-01 2019-09-30 1,895,475
27  2019-10-01 2019-10-31 2,009,445
28  2019-11-01 2019-11-30 1,939,194
29  2019-12-01 2019-12-31 1,686,004
30  2020-01-01 2020-01-31 3,074,240
31  2020-02-01 2020-02-29 1,877,021
32  2020-03-01 2020-03-31 2,085,176
33  2020-04-01 2020-04-30 1,215,848
34  2020-05-01 2020-05-31 1,433,702
35  2020-06-01 2020-06-30 1,502,828
36  2020-07-01 2020-07-31 1,271,648
37  2020-08-01 2020-08-31 1,179,089
38  2020-09-01 2020-09-30   947,214
39  2020-10-01 2020-10-31 1,002,236
40  2020-11-01 2020-11-30 1,213,288
41  2020-12-01 2020-12-31   941,768
42  2021-01-01 2021-01-31   985,000
43  2021-02-01 2021-02-28 1,042,369
44  2021-03-01 2021-03-31 1,456,176
45  2021-04-01 2021-04-30 1,309,736
46  2021-05-01 2021-05-31 1,200,893
47  2021-06-01 2021-06-30 1,249,596
48  2021-07-01 2021-07-31 1,082,352
49  2021-08-01 2021-08-31   940,647
50  2021-09-01 2021-09-30   931,442
51  2021-10-01 2021-10-31   853,902
52  2021-11-01 2021-11-30   968,557
53  2021-12-01 2021-12-31   690,715
54  2022-01-01 2022-01-31   758,363
55  2022-02-01 2022-02-28   745,003
56  2022-03-01 2022-03-31   799,626
57  2022-04-01 2022-04-30   710,029
58  2022-05-01 2022-05-31   693,683
59  2022-06-01 2022-06-30   678,130
60  2022-07-01 2022-07-31   699,449
61  2022-08-01 2022-08-31   581,819
62  2022-09-01 2022-09-30   368,232
63  2022-10-01 2022-10-31   365,495
64  2022-11-01 2022-11-30   591,845
65  2022-12-01 2022-12-31   403,545
66  2023-01-01 2023-01-31   446,346
67  2023-02-01 2023-02-28   368,198
68  2023-03-01 2023-03-31   369,017
69  2023-04-01 2023-04-30   316,130
70  2023-05-01 2023-05-31   371,748
71  2023-06-01 2023-06-30   310,689
72  2023-07-01 2023-07-31   408,184
73  2023-08-01 2023-08-31   352,440
74  2023-09-01 2023-09-30   446,321
75  2023-10-01 2023-10-31   608,516
76  2023-11-01 2023-11-30   661,535
77  2023-12-01 2023-12-31   524,016
78  2024-01-01 2024-01-31   739,307
79  2024-02-01 2024-02-29   483,219
80  2024-03-01 2024-03-31   453,907
81  2024-04-01 2024-04-30   338,035
82  2024-05-01 2024-05-31   301,042
83  2024-06-01 2024-06-30   249,927
84  2024-07-01 2024-07-31     2,115
85  2024-08-01 2024-08-31       675
86  2024-09-01 2024-09-30         0
87  2024-10-01 2024-10-31         0
88  2024-11-01 2024-11-30         0
89  2024-12-01 2024-12-31         0
90  2025-01-01 2025-01-31         0
91  2025-02-01 2025-02-28         0
92  2025-03-01 2025-03-31         0
93  2025-04-01 2025-04-30         0
94  2025-05-01 2025-05-31         0
95  2025-06-01 2025-06-30         0
96  2025-07-01 2025-07-31         0
97  2025-08-01 2025-08-31         0
98  2025-09-01 2025-09-30         0
99  2025-10-01 2025-10-31         0
100 2025-11-01 2025-11-30         0
101 2025-12-01 2025-12-31         0
102 2026-01-01 2026-01-31         0
103 2026-02-01 2026-02-28         0
104 2026-03-01 2026-03-31         0
105 2026-04-01 2026-04-30         0
106 2026-05-01 2026-05-31         0
107 2026-06-01 2026-06-30         0
108 2026-07-01 2026-07-31         0
109 2026-08-01 2026-08-31         0
110 2026-09-01 2026-09-30         0
111 2026-10-01 2026-10-31         0
112 2026-11-01 2026-11-30         0
113 2026-12-01 2026-12-31         0
114 2027-01-01 2027-01-31         0
115 2027-02-01 2027-02-28         0
116 2027-03-01 2027-03-31         0
117 2027-04-01 2027-04-30         0
118 2027-05-01 2027-05-31         0
119 2027-06-01 2027-06-30         0

**Gross EP as at (Premium Sum)**

In [114]:
def calculate_proportional_premiums_vectorized(premiums_column, inception_column, expiry_column, to_dates_column, premiums_raw_df):
    """
    Vectorized function to calculate proportional premiums for each 'To' date row.
    
    If expiry date > 'To' date: Calculate the proportion of elapsed time between inception and 'To' date.
    Else if expiry date <= 'To' date: Add the full premium (i.e., multiply by 1).

    Parameters:
    - premiums_column: The column containing the premiums values.
    - inception_column: The column containing inception dates.
    - expiry_column: The column containing expiry dates.
    - to_dates_column: The column of 'To' dates from the smaller DataFrame.
    - premiums_raw_df: The DataFrame containing premium, inception, and expiry data.

    Returns:
    - A pandas Series containing the sum of proportional premiums for each 'To' date row.
    """
    
    # Ensure all date columns are in datetime format
    premiums_raw_df[inception_column] = pd.to_datetime(premiums_raw_df[inception_column])
    premiums_raw_df[expiry_column] = pd.to_datetime(premiums_raw_df[expiry_column])
    to_dates_column = pd.to_datetime(to_dates_column)
    
    # Calculate the total duration between inception and expiry for the entire dataset
    total_duration = (premiums_raw_df[expiry_column] - premiums_raw_df[inception_column]).dt.days
    
    # Initialize an empty list to store results
    results = []
    
    # Loop through the 'To' dates
    for to_date in to_dates_column:
        # Apply the condition for Expiry Date > 'To' Date
        
        print(to_date) # Printing the code to check how long it takes for each row. Vectorizing definitely made it faster.
        # You can comment the above print statement.
        
        valid_rows = premiums_raw_df
        
        # Calculate the elapsed duration between inception date and 'To' date for valid rows
        elapsed_duration = (to_date - valid_rows[inception_column]).dt.days
        
        # Calculate the proportion for rows where expiry date > 'To' date
        proportion = np.clip(elapsed_duration / total_duration, 0, 1)
        
        # Check where expiry date <= 'To' date and set proportion to 1 for those rows
        proportion[valid_rows[expiry_column] <= to_date] = 1
        
        # Multiply the proportion by the premiums
        proportional_premiums = proportion * valid_rows[premiums_column]
        
        # Sum the proportional premiums for this 'To' date and append to the results list
        results.append(proportional_premiums.sum())
    
    # Return the result as a pandas Series to maintain the index alignment with 'To' dates
    return pd.Series(results, index=to_dates_column.index)

temp_df['Premium Sum'] = calculate_proportional_premiums_vectorized('TPL GP', 'Inception date', 'Expiry Date', temp_df['To'], premiums_raw_df)

2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00
2020-12-31 00:00:00
2021-01-31 00:00:00
2021-02-28 00:00:00
2021-03-31 00:00:00
2021-04-30 00:00:00
2021-05-31 00:00:00
2021-06-30 00:00:00
2021-07-31 00:00:00
2021-08-31 00:00:00
2021-09-30 00:00:00
2021-10-31 00:00:00
2021-11-30 00:00:00
2021-12-31 00:00:00
2022-01-31 00:00:00
2022-02-28 00:00:00
2022-03-31 00:00:00
2022-04-30 00:00:00
2022-05-31 00:00:00
2022-06-30 00:00:00
2022-07-31 00:00:00
2022-08-31 00:00:00
2022-09-30 00:00:00
2022-10-31 00:00:00
2022-11-30 00:00:00
2022-12-31 00:00:00
2023-01-31 00:00:00
2023-02-28 00:00:00
2023-03-31 00:00:00
2023-04-30 00:00:00
2023-05-31 00:00:00
2023-06-30 00:00:00
2023-07-31 00:00:00
2023-08-31 00:00:00
2023-09-30 00:00:00
2023-10-31 00:00:00
2023-11-30 00:00:00
2023-12-31 00:00:00
2024-01-31 00:00:00
2024-02-29 00:00:00
2024-03-31 00:00:00
2024-04-30 00:00:00
2024-05-31 00:00:00
2024-06-30 00:00:00
2024-07-31 00:00:00
2024-08-31 00:00:00
2024-09-30 00:00:00
2024-10-31 00:00:00
2024-11-30 00:00:00
2024-12-31 00:00:00
2025-01-31 00:00:00
2025-02-28 00:00:00
2025-03-31 00:00:00
2025-04-30 00:00:00
2025-05-31 00:00:00
2025-06-30 00:00:00
2025-07-31 00:00:00
2025-08-31 00:00:00
2025-09-30 00:00:00
2025-10-31 00:00:00
2025-11-30 00:00:00
2025-12-31 00:00:00
2026-01-31 00:00:00
2026-02-28 00:00:00
2026-03-31 00:00:00
2026-04-30 00:00:00
2026-05-31 00:00:00
2026-06-30 00:00:00
2026-07-31 00:00:00
2026-08-31 00:00:00
2026-09-30 00:00:00
2026-10-31 00:00:00
2026-11-30 00:00:00
2026-12-31 00:00:00
2027-01-31 00:00:00
2027-02-28 00:00:00
2027-03-31 00:00:00
2027-04-30 00:00:00
2027-05-31 00:00:00
2027-06-30 00:00:00

In [115]:
temp_df

          From         To        GP  Premium Sum
0   2017-07-01 2017-07-31   991,487   17,150,571
1   2017-08-01 2017-08-31   945,268   17,844,026
2   2017-09-01 2017-09-30   738,114   18,546,695
3   2017-10-01 2017-10-31 1,110,282   19,319,975
4   2017-11-01 2017-11-30 1,054,467   20,128,951
5   2017-12-01 2017-12-31 1,316,802   21,025,622
6   2018-01-01 2018-01-31   928,302   21,975,629
7   2018-02-01 2018-02-28   782,414   22,858,354
8   2018-03-01 2018-03-31   993,394   23,847,306
9   2018-04-01 2018-04-30 1,533,689   24,831,719
10  2018-05-01 2018-05-31 1,388,740   25,893,889
11  2018-06-01 2018-06-30 1,264,750   26,958,524
12  2018-07-01 2018-07-31 2,048,026   28,129,110
13  2018-08-01 2018-08-31 1,359,024   29,344,320
14  2018-09-01 2018-09-30 1,309,536   30,548,362
15  2018-10-01 2018-10-31 1,874,086   31,838,531
16  2018-11-01 2018-11-30 1,885,429   33,175,072
17  2018-12-01 2018-12-31 2,461,124   34,633,158
18  2019-01-01 2019-01-31 4,941,308   36,357,750
19  2019-02-01 2019-02-28 2,170,381   38,042,909
20  2019-03-01 2019-03-31 1,675,841   39,967,357
21  2019-04-01 2019-04-30 2,001,217   41,899,415
22  2019-05-01 2019-05-31 2,603,026   43,970,843
23  2019-06-01 2019-06-30 1,893,646   46,032,956
24  2019-07-01 2019-07-31 2,720,193   48,244,880
25  2019-08-01 2019-08-31 1,801,740   50,499,726
26  2019-09-01 2019-09-30 1,895,475   52,713,632
27  2019-10-01 2019-10-31 2,009,445   55,048,024
28  2019-11-01 2019-11-30 1,939,194   57,328,231
29  2019-12-01 2019-12-31 1,686,004   59,665,666
30  2020-01-01 2020-01-31 3,074,240   61,944,174
31  2020-02-01 2020-02-29 1,877,021   64,025,272
32  2020-03-01 2020-03-31 2,085,176   66,150,032
33  2020-04-01 2020-04-30 1,215,848   68,193,197
34  2020-05-01 2020-05-31 1,433,702   70,267,251
35  2020-06-01 2020-06-30 1,502,828   72,231,101
36  2020-07-01 2020-07-31 1,271,648   74,172,398
37  2020-08-01 2020-08-31 1,179,089   76,023,410
38  2020-09-01 2020-09-30   947,214   77,747,463
39  2020-10-01 2020-10-31 1,002,236   79,455,782
40  2020-11-01 2020-11-30 1,213,288   81,040,734
41  2020-12-01 2020-12-31   941,768   82,597,607
42  2021-01-01 2021-01-31   985,000   84,021,570
43  2021-02-01 2021-02-28 1,042,369   85,244,565
44  2021-03-01 2021-03-31 1,456,176   86,531,521
45  2021-04-01 2021-04-30 1,309,736   87,740,310
46  2021-05-01 2021-05-31 1,200,893   88,953,993
47  2021-06-01 2021-06-30 1,249,596   90,123,593
48  2021-07-01 2021-07-31 1,082,352   91,289,937
49  2021-08-01 2021-08-31   940,647   92,438,202
50  2021-09-01 2021-09-30   931,442   93,536,283
51  2021-10-01 2021-10-31   853,902   94,656,272
52  2021-11-01 2021-11-30   968,557   95,730,895
53  2021-12-01 2021-12-31   690,715   96,814,270
54  2022-01-01 2022-01-31   758,363   97,882,562
55  2022-02-01 2022-02-28   745,003   98,836,619
56  2022-03-01 2022-03-31   799,626   99,869,478
57  2022-04-01 2022-04-30   710,029  100,828,053
58  2022-05-01 2022-05-31   693,683  101,758,459
59  2022-06-01 2022-06-30   678,130  102,624,792
60  2022-07-01 2022-07-31   699,449  103,466,077
61  2022-08-01 2022-08-31   581,819  104,267,072
62  2022-09-01 2022-09-30   368,232  105,014,680
63  2022-10-01 2022-10-31   365,495  105,741,399
64  2022-11-01 2022-11-30   591,845  106,406,625
65  2022-12-01 2022-12-31   403,545  107,055,995
66  2023-01-01 2023-01-31   446,346  107,681,245
67  2023-02-01 2023-02-28   368,198  108,223,426
68  2023-03-01 2023-03-31   369,017  108,786,866
69  2023-04-01 2023-04-30   316,130  109,304,153
70  2023-05-01 2023-05-31   371,748  109,805,505
71  2023-06-01 2023-06-30   310,689  110,267,106
72  2023-07-01 2023-07-31   408,184  110,705,802
73  2023-08-01 2023-08-31   352,440  111,122,865
74  2023-09-01 2023-09-30   446,321  111,513,508
75  2023-10-01 2023-10-31   608,516  111,921,354
76  2023-11-01 2023-11-30   661,535  112,331,747
77  2023-12-01 2023-12-31   524,016  112,763,064
78  2024-01-01 2024-01-31   739,307  113,221,408
79  2024-02-01 2024-02-29   483,219  113,656,763
80  2024-03-01 2024-03-31   453,907  114,129,367
81  2024-04-01 2024-04-30   338,035  114,592,129
82  2024-05-01 2024-05-31   301,042  115,064,421
83  2024-06-01 2024-06-30   249,927  115,517,963
84  2024-07-01 2024-07-31     2,115  115,962,385
85  2024-08-01 2024-08-31       675  116,382,185
86  2024-09-01 2024-09-30         0  116,764,642
87  2024-10-01 2024-10-31         0  117,125,638
88  2024-11-01 2024-11-30         0  117,426,745
89  2024-12-01 2024-12-31         0  117,685,399
90  2025-01-01 2025-01-31         0  117,886,861
91  2025-02-01 2025-02-28         0  118,035,022
92  2025-03-01 2025-03-31         0  118,160,561
93  2025-04-01 2025-04-30         0  118,245,677
94  2025-05-01 2025-05-31         0  118,300,333
95  2025-06-01 2025-06-30         0  118,329,295
96  2025-07-01 2025-07-31         0  118,337,784
97  2025-08-01 2025-08-31         0  118,337,879
98  2025-09-01 2025-09-30         0  118,337,925
99  2025-10-01 2025-10-31         0  118,337,925
100 2025-11-01 2025-11-30         0  118,337,925
101 2025-12-01 2025-12-31         0  118,337,925
102 2026-01-01 2026-01-31         0  118,337,925
103 2026-02-01 2026-02-28         0  118,337,925
104 2026-03-01 2026-03-31         0  118,337,925
105 2026-04-01 2026-04-30         0  118,337,925
106 2026-05-01 2026-05-31         0  118,337,925
107 2026-06-01 2026-06-30         0  118,337,925
108 2026-07-01 2026-07-31         0  118,337,925
109 2026-08-01 2026-08-31         0  118,337,925
110 2026-09-01 2026-09-30         0  118,337,925
111 2026-10-01 2026-10-31         0  118,337,925
112 2026-11-01 2026-11-30         0  118,337,925
113 2026-12-01 2026-12-31         0  118,337,925
114 2027-01-01 2027-01-31         0  118,337,925
115 2027-02-01 2027-02-28         0  118,337,925
116 2027-03-01 2027-03-31         0  118,337,925
117 2027-04-01 2027-04-30         0  118,337,925
118 2027-05-01 2027-05-31         0  118,337,925
119 2027-06-01 2027-06-30         0  118,337,925

**Renaming and Reordering + getting Earned Premiums**

In [116]:
temp_df['Earned Premiums'] = 0 
temp_df.loc[1:, 'Earned Premiums'] = temp_df['Premium Sum'].diff().fillna(0).iloc[1:] 
temp_df = temp_df.rename(columns={'Premium Sum': 'Gross EP As at'})
temp_df = temp_df.rename(columns={'GP': 'Gross Premiums'})

C:\Users\Muhammad.Ismail\AppData\Local\Temp\ipykernel_14860\1306668965.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[6.93455068e+05 7.02668928e+05 7.73280000e+05 8.08975442e+05
 8.96671567e+05 9.50006927e+05 8.82724414e+05 9.88952075e+05
 9.84413100e+05 1.06217073e+06 1.06463470e+06 1.17058554e+06
 1.21521015e+06 1.20404179e+06 1.29016956e+06 1.33654100e+06
 1.45808567e+06 1.72459263e+06 1.68515857e+06 1.92444841e+06
 1.93205786e+06 2.07142819e+06 2.06211272e+06 2.21192369e+06
 2.25484628e+06 2.21390628e+06 2.33439146e+06 2.28020665e+06
 2.33743541e+06 2.27850795e+06 2.08109842e+06 2.12475964e+06
 2.04316536e+06 2.07405410e+06 1.96384918e+06 1.94129702e+06
 1.85101242e+06 1.72405278e+06 1.70831906e+06 1.58495232e+06
 1.55687292e+06 1.42396294e+06 1.22299531e+06 1.28695601e+06
 1.20878890e+06 1.21368255e+06 1.16960055e+06 1.16634362e+06
 1.14826468e+06 1.09808101e+06 1.11998896e+06 1.07462300e+06
 1.08337578e+06 1.06829120e+06 9.54057226e+05 1.03285952e+06
 9.58574910e+05 9.30406022e+05 8.66332704e+05 8.41284600e+05
 8.00995621e+05 7.47607406e+05 7.26719415e+05 6.65226154e+05
 6.49370186e+05 6.25249432e+05 5.42181521e+05 5.63439218e+05
 5.17287760e+05 5.01351882e+05 4.61601170e+05 4.38695259e+05
 4.17063724e+05 3.90643026e+05 4.07845111e+05 4.10393013e+05
 4.31317481e+05 4.58344459e+05 4.35354961e+05 4.72603535e+05
 4.62762439e+05 4.72291635e+05 4.53541794e+05 4.44422017e+05
 4.19800490e+05 3.82456331e+05 3.60996608e+05 3.01107100e+05
 2.58653806e+05 2.01461587e+05 1.48161531e+05 1.25538806e+05
 8.51163280e+04 5.46558830e+04 2.89617762e+04 8.48845357e+03
 9.53544304e+01 4.61392405e+01 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  temp_df.loc[1:, 'Earned Premiums'] = temp_df['Premium Sum'].diff().fillna(0).iloc[1:]

**Final Output**

In [117]:
temp_df

          From         To  Gross Premiums  Gross EP As at  Earned Premiums
0   2017-07-01 2017-07-31         991,487      17,150,571                0
1   2017-08-01 2017-08-31         945,268      17,844,026          693,455
2   2017-09-01 2017-09-30         738,114      18,546,695          702,669
3   2017-10-01 2017-10-31       1,110,282      19,319,975          773,280
4   2017-11-01 2017-11-30       1,054,467      20,128,951          808,975
5   2017-12-01 2017-12-31       1,316,802      21,025,622          896,672
6   2018-01-01 2018-01-31         928,302      21,975,629          950,007
7   2018-02-01 2018-02-28         782,414      22,858,354          882,724
8   2018-03-01 2018-03-31         993,394      23,847,306          988,952
9   2018-04-01 2018-04-30       1,533,689      24,831,719          984,413
10  2018-05-01 2018-05-31       1,388,740      25,893,889        1,062,171
11  2018-06-01 2018-06-30       1,264,750      26,958,524        1,064,635
12  2018-07-01 2018-07-31       2,048,026      28,129,110        1,170,586
13  2018-08-01 2018-08-31       1,359,024      29,344,320        1,215,210
14  2018-09-01 2018-09-30       1,309,536      30,548,362        1,204,042
15  2018-10-01 2018-10-31       1,874,086      31,838,531        1,290,170
16  2018-11-01 2018-11-30       1,885,429      33,175,072        1,336,541
17  2018-12-01 2018-12-31       2,461,124      34,633,158        1,458,086
18  2019-01-01 2019-01-31       4,941,308      36,357,750        1,724,593
19  2019-02-01 2019-02-28       2,170,381      38,042,909        1,685,159
20  2019-03-01 2019-03-31       1,675,841      39,967,357        1,924,448
21  2019-04-01 2019-04-30       2,001,217      41,899,415        1,932,058
22  2019-05-01 2019-05-31       2,603,026      43,970,843        2,071,428
23  2019-06-01 2019-06-30       1,893,646      46,032,956        2,062,113
24  2019-07-01 2019-07-31       2,720,193      48,244,880        2,211,924
25  2019-08-01 2019-08-31       1,801,740      50,499,726        2,254,846
26  2019-09-01 2019-09-30       1,895,475      52,713,632        2,213,906
27  2019-10-01 2019-10-31       2,009,445      55,048,024        2,334,391
28  2019-11-01 2019-11-30       1,939,194      57,328,231        2,280,207
29  2019-12-01 2019-12-31       1,686,004      59,665,666        2,337,435
30  2020-01-01 2020-01-31       3,074,240      61,944,174        2,278,508
31  2020-02-01 2020-02-29       1,877,021      64,025,272        2,081,098
32  2020-03-01 2020-03-31       2,085,176      66,150,032        2,124,760
33  2020-04-01 2020-04-30       1,215,848      68,193,197        2,043,165
34  2020-05-01 2020-05-31       1,433,702      70,267,251        2,074,054
35  2020-06-01 2020-06-30       1,502,828      72,231,101        1,963,849
36  2020-07-01 2020-07-31       1,271,648      74,172,398        1,941,297
37  2020-08-01 2020-08-31       1,179,089      76,023,410        1,851,012
38  2020-09-01 2020-09-30         947,214      77,747,463        1,724,053
39  2020-10-01 2020-10-31       1,002,236      79,455,782        1,708,319
40  2020-11-01 2020-11-30       1,213,288      81,040,734        1,584,952
41  2020-12-01 2020-12-31         941,768      82,597,607        1,556,873
42  2021-01-01 2021-01-31         985,000      84,021,570        1,423,963
43  2021-02-01 2021-02-28       1,042,369      85,244,565        1,222,995
44  2021-03-01 2021-03-31       1,456,176      86,531,521        1,286,956
45  2021-04-01 2021-04-30       1,309,736      87,740,310        1,208,789
46  2021-05-01 2021-05-31       1,200,893      88,953,993        1,213,683
47  2021-06-01 2021-06-30       1,249,596      90,123,593        1,169,601
48  2021-07-01 2021-07-31       1,082,352      91,289,937        1,166,344
49  2021-08-01 2021-08-31         940,647      92,438,202        1,148,265
50  2021-09-01 2021-09-30         931,442      93,536,283        1,098,081
51  2021-10-01 2021-10-31         853,902      94,656,272        1,119,989
52  2021-11-01 2021-11-30         968,557      95,730,895        1,074,623
53  2021-12-01 2021-12-31         690,715      96,814,270        1,083,376
54  2022-01-01 2022-01-31         758,363      97,882,562        1,068,291
55  2022-02-01 2022-02-28         745,003      98,836,619          954,057
56  2022-03-01 2022-03-31         799,626      99,869,478        1,032,860
57  2022-04-01 2022-04-30         710,029     100,828,053          958,575
58  2022-05-01 2022-05-31         693,683     101,758,459          930,406
59  2022-06-01 2022-06-30         678,130     102,624,792          866,333
60  2022-07-01 2022-07-31         699,449     103,466,077          841,285
61  2022-08-01 2022-08-31         581,819     104,267,072          800,996
62  2022-09-01 2022-09-30         368,232     105,014,680          747,607
63  2022-10-01 2022-10-31         365,495     105,741,399          726,719
64  2022-11-01 2022-11-30         591,845     106,406,625          665,226
65  2022-12-01 2022-12-31         403,545     107,055,995          649,370
66  2023-01-01 2023-01-31         446,346     107,681,245          625,249
67  2023-02-01 2023-02-28         368,198     108,223,426          542,182
68  2023-03-01 2023-03-31         369,017     108,786,866          563,439
69  2023-04-01 2023-04-30         316,130     109,304,153          517,288
70  2023-05-01 2023-05-31         371,748     109,805,505          501,352
71  2023-06-01 2023-06-30         310,689     110,267,106          461,601
72  2023-07-01 2023-07-31         408,184     110,705,802          438,695
73  2023-08-01 2023-08-31         352,440     111,122,865          417,064
74  2023-09-01 2023-09-30         446,321     111,513,508          390,643
75  2023-10-01 2023-10-31         608,516     111,921,354          407,845
76  2023-11-01 2023-11-30         661,535     112,331,747          410,393
77  2023-12-01 2023-12-31         524,016     112,763,064          431,317
78  2024-01-01 2024-01-31         739,307     113,221,408          458,344
79  2024-02-01 2024-02-29         483,219     113,656,763          435,355
80  2024-03-01 2024-03-31         453,907     114,129,367          472,604
81  2024-04-01 2024-04-30         338,035     114,592,129          462,762
82  2024-05-01 2024-05-31         301,042     115,064,421          472,292
83  2024-06-01 2024-06-30         249,927     115,517,963          453,542
84  2024-07-01 2024-07-31           2,115     115,962,385          444,422
85  2024-08-01 2024-08-31             675     116,382,185          419,800
86  2024-09-01 2024-09-30               0     116,764,642          382,456
87  2024-10-01 2024-10-31               0     117,125,638          360,997
88  2024-11-01 2024-11-30               0     117,426,745          301,107
89  2024-12-01 2024-12-31               0     117,685,399          258,654
90  2025-01-01 2025-01-31               0     117,886,861          201,462
91  2025-02-01 2025-02-28               0     118,035,022          148,162
92  2025-03-01 2025-03-31               0     118,160,561          125,539
93  2025-04-01 2025-04-30               0     118,245,677           85,116
94  2025-05-01 2025-05-31               0     118,300,333           54,656
95  2025-06-01 2025-06-30               0     118,329,295           28,962
96  2025-07-01 2025-07-31               0     118,337,784            8,488
97  2025-08-01 2025-08-31               0     118,337,879               95
98  2025-09-01 2025-09-30               0     118,337,925               46
99  2025-10-01 2025-10-31               0     118,337,925                0
100 2025-11-01 2025-11-30               0     118,337,925                0
101 2025-12-01 2025-12-31               0     118,337,925                0
102 2026-01-01 2026-01-31               0     118,337,925                0
103 2026-02-01 2026-02-28               0     118,337,925                0
104 2026-03-01 2026-03-31               0     118,337,925                0
105 2026-04-01 2026-04-30               0     118,337,925                0
106 2026-05-01 2026-05-31               0     118,337,925                0
107 2026-06-01 2026-06-30               0     118,337,925                0
108 2026-07-01 2026-07-31               0     118,337,925                0
109 2026-08-01 2026-08-31               0     118,337,925                0
110 2026-09-01 2026-09-30               0     118,337,925                0
111 2026-10-01 2026-10-31               0     118,337,925                0
112 2026-11-01 2026-11-30               0     118,337,925                0
113 2026-12-01 2026-12-31               0     118,337,925                0
114 2027-01-01 2027-01-31               0     118,337,925                0
115 2027-02-01 2027-02-28               0     118,337,925                0
116 2027-03-01 2027-03-31               0     118,337,925                0
117 2027-04-01 2027-04-30               0     118,337,925                0
118 2027-05-01 2027-05-31               0     118,337,925                0
119 2027-06-01 2027-06-30               0     118,337,925                0